wsdl/stock.wsdl

<definitions
    name="stock-service"
    targetNamespace="http://example.com/stock-service"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/stock-service"
>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/stock-service">
            <!--Item Element-->
            <element name="Item">
                <complexType>
                    <sequence>
                        <element name="ID_product" type="int"/>
                        <element name="Product_name" type="string"/>
                        <element name="Product_price" type="int"/>
                        <element name="Expire_date" type="string"/>
                        <element name="Product_quantity" type="int"/>
                        <element name="Product_status" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <!--Add Item-->
    <message name="AddItemRequest">
        <part name="parameter" element="tns:Item"/>
    </message>
    <message name="AddItemResponse">
        <part name="result" type="string"/>
    </message>

    <!--Port Types-->
    <portType name="StockPort">
        <operation name="AddItem">
            <input message="AddItemRequest"/>
            <output message="AddItemResponse"/>
        </operation>
    </portType>

    <!--Bindings-->
    <binding name="StockBinding" type="StockPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="AddItem">
            <soap:operation soapAction="AddItem"/>
            <input>
                <soap:body use="encoded" namespace="http://example.com/stock-service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://example.com/stock-service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <!--Services-->
    <service name="StockService">
        <port name="StockPort" binding="StockBinding">
            <soap:address location="http://localhost:8000/stock-service/api/?wsdl"/>
        </port>
    </service>
</definitions>